body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 20%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-header{
  display: flex;
  flex-direction: row;
}

.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4%;
}

.border{
  border-style: solid;
  border-width: 1px;
}

.container{
  text-align: left;
  width: 800px;
}

.titulo{
  margin-top: 0;
  padding-left: 5px;
  height: min-content;
  margin-right: auto ;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  width: 100%;
}

.descripcion{
  margin-top: 0;
}


.container-info{
  display: flex;
  flex-direction: column;
}

.footer-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.datePicker{
  width: 200px;
  margin-left: 10px;
}